body {
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: center;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

header {
  margin: 15px 0;
  color: #b0adad;
  font-size: large;
}

footer {
  text-align: right;
  background-color: #b0adad;
  margin: 15vh 0;
  padding: 10px;
  font-style: italic;
}

.calc-container {
  margin: 10px auto;
  height: 60vh;
  width: 30%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.digit {
  cursor: pointer;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  box-shadow: #0000003d 0 4px 4px;
  background-color: #dfdede;
  border: none;
  margin: 4px;
}

.digit:nth-child(4n + 5),
.digit:nth-child(20) {
  background-color: rgb(214, 143, 117);
}

.digit:nth-child(1) {
  grid-column-end: span 4;
  background-color: #444;
  color: white;
  text-align: right;
}

.digit:nth-child(18) {
  grid-column-end: span 2;
}

@media screen and (max-width: 450px) {
  .calc-container {
    margin: 5px auto;
    width: 90%;
  }

  footer {
    margin-top: 3vh;
    padding: 3px;
  }
}
